<img class="item__image" src="{{ this.image_url }}" alt="" />
<div class="item__content">
  <h3 class="item__name">{{ this.name }}</h3>
  <p class="item__price">{{ this.quantity }} x {{ this.price }}</p>
  <input
    class="item__quantity"
    type="number"
    name="quantity"
    value="{{ this.quantity }}"
    min="1"
    max="100"
  />
</div>
<button class="item__remove"></button>
