<header class="modal__header">
  <h2 class="modal__title" id="modal-1-title">{{ this.name }}</h2>
  <button
    class="modal__close"
    aria-label="Close modal"
    data-micromodal-close
  ></button>
</header>
<main class="modal__content" id="modal-1-content">
  <img class="modal__thumb" src="{{ this.image_url }}" alt="beer" />
  <div class="modal__summary">
    <h5>Ingredients</h5>
    <h6>Hops</h6>
    <ul>
      {{#each this.ingredients.hops}}
      <li>{{ this.name }}: {{ this.amount.value }} {{ this.amount.unit }}</li>
      {{/each}}
    </ul>
    <h6>Malt</h6>
    <ul>
      {{#each this.ingredients.malt}}
      <li>{{ this.name }}: {{ this.amount.value }} {{ this.amount.unit }}</li>
      {{/each}}
    </ul>
    <h6>Yeast</h6>
    <p>{{ this.ingredients.yeast }}</p>
  </div>
  <div class="modal__food">
    <h5>Goes nicely with:</h5>
    <ul>
      {{#each this.food_pairing}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
  </div>
</main>
<footer class="modal__footer">
  <button class="modal__btn modal__btn-primary">Add to cart</button>
</footer>
